html, body, .timer {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.timer {
	width: 100%;
	box-sizing: border-box;
	padding: 5%;
	background: tomato;
	color: white;
	transition: background .25s;
}

.timer.paused {
	background: mediumseagreen;
}